:root {
	font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
	font-size: 16px;
	line-height: 24px;
	font-weight: 400;

	color-scheme: light dark;
	color: rgba(255, 255, 255, 0.87);
	background-color: #242424;

	font-synthesis: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	-webkit-text-size-adjust: 100%;
}

a {
	font-weight: 500;
	color: #646cff;
	margin: 5px;
}

a:hover {
	color: #b0abe3;
}

.active {
	color: magenta;
}

hr {
	border: 0;
	border-top: 1px dashed #e0e0e0;
	margin: 20px 0;
}

body {
	margin: 1rem auto;
	padding: 1rem;
	width: 50%;

	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 100vh;
	width: 100ch;
}

.flex {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	height: auto;
	margin: 1rem 0;
	column-gap: 20px;
}

.flex > *:first-child {
	width: calc(100% + 200px);
	text-align: center;
	max-width: 150px;
}

.flex img {
	border-radius: 20px;

	max-width: 150px;
}

h1 {
	font-size: 3.2em;
	line-height: 1.1;
}
